
/* CTA */
.cta {
  background: #d9aa71;
  background: linear-gradient(
    180deg,
    rgba(217, 170, 113, 1) 15%,
    rgba(140, 140, 140, 1) 85%
  );
  color: var(--primaria);
  text-align: center;
  padding: 60px 20px;
}

.cta h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.cta p {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 60px;
}

.cta .btn {
  background: var(--marromClaro);
  color: #fff;
  display: block;
  margin: 0 auto;
}

.cta .btn:hover {
  background: var(--creme);
  color: var(--primaria);
}