
/* HERO */
.hero {
  position: relative;
  background: url(/images/advogado-hero.jpg) center/cover no-repeat;
  height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero .hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: #fff;
  max-width: 1200px;
  margin-top: 100px;
}

.hero-text h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.hero .btn {
  width: 250px;
}

.hero .btn:hover {
  background: var(--primaria);
  color: #fff;
  font-weight: 700;
}