
/* ====== RESPONSIVIDADE ====== */

/* Tablets
@media (max-width: 1000px) {
  .header-content {
    flex-direction: column;
    gap: 15px;
  }

  .menu {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .grid-3 {
    grid-template-columns: repeat(2, 1fr);
  }
}*/

/* Quando o celular estiver em landscape (deitado) */
@media screen and (max-width: 1000px) and (orientation: landscape) {
  .menu {
    font-size: 15px;
  }

  /* Mostra o botão/menu mobile */
  .btn-menu-mobile {
    display: none !important;
  }

  nav.menu-mobile {
    display: none; /* só aparece quando clicar no botão */
  }

  .topo {
    padding: 2px 0;
  }

  .logo img {
    width: 50px;
  }

  .logo span {
    display: none;
  }

  .hero-text h1 {
    font-size: 1.8rem;
    padding: 50px 30px;
  }

  .sobre h1 {
    font-size: 2.2rem;
  }

  .sobre h2 {
    font-size: 1.5rem;
  }

  .sobre p {
    font-size: 1.2rem;
  }

  .areas h1 {
    font-size: 2.2rem;
  }

  .cta h2 {
    font-size: 2.2rem;
  }

  .cta p {
    font-size: 1.2rem;
  }

  .grid-3 {
    grid-template-columns: 1fr;
  }

  .rodape {
    grid-template-columns: 1fr;
    gap: 40px;
    font-size: 16px;
  }

  .copy {
    font-size: 14px;
  }
}

/* Smartphones */
@media (max-width: 600px) {
  .topo {
    padding: 2px 0;
  }

  .header-content {
    justify-content: space-between;
  }

  .menu {
    display: none;
  }

  .btn-menu-mobile {
    display: block;
  }

  .btn-menu-mobile i {
    font-size: 2rem;
  }

  #sobre {
    scroll-margin-top: 10px;
  }

  .logo img {
    width: 180px;
  }

  .logo span {
    display: none;
  }

  .hero {
    height: 650px;
  }

  .hero-text h1 {
    font-size: 1.8rem;
    padding: 50px 30px;
  }

  .hero .btn {
    margin-bottom: 40px;
  }

  /* SOBRE */
.sobre-conteudo {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

.sobre h1 {
  font-size: 1.8rem;
}

.sobre h2 {
  font-size: 1.6rem;
}

.sobre p {
  font-size: 1.2rem;
  text-align: justify;
  text-indent: 30px;
  padding: 0 10px;
}

.imagem {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

.imagem img {
  width: 85%;          /* garante responsividade */
  max-width: 350px;     /* controla tamanho no mobile */
  height: auto;
  margin: 0 auto;       /* força centralização */
  display: block;
  border-radius: 8px;   /* opcional */
}

  /* AREAS */
  .areas h1 {
    font-size: 1.8rem;
  }

  .card h3 {
  font-size: 1.5rem;
}

.card p {
  font-size: 1.2rem;
}

  /* CTA */
  .cta h2 {
    font-size: 2.2rem;
  }

  .cta p {
    font-size: 1.2rem;
  }

  .grid-3 {
    grid-template-columns: 1fr;
  }

  .rodape {
    grid-template-columns: 1fr;
    gap: 40px;
    font-size: 16px;
  }

  .copy {
    font-size: 14px;
  }

  .hero-text button,
  .sobre button,
  .card button,
  .cta button {
    width: 100%;
    max-width: 280px;
  }

  header [data-aos],
  footer [data-aos] {
    opacity: 1 !important;
    transform: none !important;
    transition: none !important;
  }

  [data-aos="fade-right"] {
    transform: translateY(30px) !important; /* vira tipo fade-up */
    opacity: 0;
  }

  [data-aos="fade-up"] {
    transform: translateY(30px) !important;
    opacity: 0;
  }

  [data-aos="fade-left"] {
    transform: translateY(30px) !important;
    opacity: 0;
  }
}