
/* SOBRE */
.sobre {
  display: flex;
  flex-direction: column;
  background: var(--primaria);
  color: #fff;
  padding: 120px 0;
  gap: 40px;
  align-items: center;
}

/* NOVO: conteúdo em duas colunas */
.sobre-conteudo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 200px;
  gap: 50px;
  width: 100%;
}

/* TEXTO À ESQUERDA */
.sobre .texto {
  flex: 1;
}

.sobre h1 {
  font-size: 42px;
}

.sobre h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.sobre p {
  font-size: 22px;
  text-align: justify;
  text-indent: 30px;
  padding: 0 40px 0 0;
}

/* IMAGEM À DIREITA */
.sobre .imagem {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.sobre .imagem img {
  max-width: 100%;
  height: auto;
  border-radius: 16px;
  object-fit: cover;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.719);
}

.sobre .imagem img:hover {
  transform: scale(1.02);
  box-shadow: 0 12px 24px rgba(217, 170, 113, 1);
}