/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primaria: #132126;
  --secundaria: #8c8c8c;
  --creme: #d9aa71;
  --marromClaro: #8c441b;
  --marromEscuro: #592e2a;
  --textColor: #000;
  --vidro: rgba(255, 255, 255, 0.1);
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, sans-serif;
  line-height: 1.6;
  color: var(--textColor);
}

.container {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 40px 20px;
}

/* HEADER */
.topo {
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 1;
  color: #fff;
  padding: 10px 0;
  transition: background 0.5s;
}

.topo.scrolled {
  background-image: none;
  background-color: var(--primaria);
}

/* Estilo do menu mobile */
.btn-menu-mobile {
  display: none;
  font-size: 1rem;
  cursor: pointer;
  color: #fff;
}

.btn-menu-mobile i {
  font-size: 2.8rem;
  color: #fff;
}

.menu-mobile {
  position: fixed;
  top: 0;
  right: 0%;
  width: 50%;
  height: 80vh;
  background-color: var(--creme);
  text-align: right;
  padding: 32px 0;
  border-radius: 120px 0 0 120px;
  pointer-events: none;
  transition: 0.5s;
  z-index: 1000;

  transform: translateX(100%);
}

.menu-mobile ul {
  list-style: none;
  padding: 64px 0;
}

.menu-mobile ul li a {
  color: var(--primaria);
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  padding: 24px;
  display: block;
  transition: 0.3s;
}

.menu-mobile ul li a:hover {
  text-decoration: none;
  color: var(--marromEscuro);
  font-weight: bold;
}

.menu-mobile .bi-x-lg {
  font-size: 1.5rem;
  color: var(--primaria);
  padding: 24px;
}

.menu-mobile.abrir-menu {
  transform: translateX(0);
  pointer-events: auto;
}

.no-scroll {
  overflow: hidden;
  height: 100vh; /* impede rolagem no mobile */
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7); /* 70% */
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 900;
}

.overlay.ativo {
  opacity: 1;
  pointer-events: auto; /* BLOQUEIA tudo */
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 220px;
  margin-right: 10px;
  vertical-align: middle;
}

.menu {
  list-style: none;
  display: flex;
  gap: 40px;
  font-size: 18px;
  flex-wrap: wrap;
}

.menu li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.4s ease;
}

.menu li a:hover {
  color: var(--creme);
}

/* BOTÃO DE CONTATO */
.btn {
  display: flex;
  flex-direction: column;
  background: var(--creme);
  color: var(--primaria);
  padding: 12px 24px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 700;
  border: none;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.4s ease;
}

/* HERO */
.hero {
  position: relative;
  background: url(/images/advogado-hero.jpg) center/cover no-repeat;
  height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero .hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: #fff;
  max-width: 1200px;
  margin-top: 100px;
}

.hero-text h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.hero .btn {
  width: 250px;
}

.hero .btn:hover {
  background: var(--primaria);
  color: #fff;
  font-weight: 700;
}



/* SOBRE */
.sobre {
  display: flex;
  flex-direction: column;
  background: var(--primaria);
  color: #fff;
  padding: 120px 0;
  gap: 40px;
  align-items: center;
}

/* NOVO: conteúdo em duas colunas */
.sobre-conteudo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 200px;
  gap: 50px;
  width: 100%;
}

/* TEXTO À ESQUERDA */
.sobre .texto {
  flex: 1;
}

.sobre h1 {
  font-size: 42px;
}

.sobre h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.sobre p {
  font-size: 22px;
  text-align: justify;
  text-indent: 30px;
  padding: 0 40px 0 0;
}

/* IMAGEM À DIREITA */
.sobre .imagem {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.sobre .imagem img {
  max-width: 80%;
  height: auto;
  border-radius: 16px;
  object-fit: cover;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.719);
}

.sobre .imagem img:hover {
  transform: scale(1.02);
  box-shadow: 0 12px 24px rgba(217, 170, 113, 1);
}

/* ÁREAS */
.areas {
  background: #132126;
  background: linear-gradient(
    180deg,
    rgba(19, 33, 38, 1) 35%,
    rgba(217, 170, 113, 1) 90%
  );
  padding: 120px 0;
  color: var(--primaria);
}

.areas h1 {
  text-align: center;
  color: #fff;
  font-size: 40px;
  margin-bottom: 40px;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}

.card {
  background: var(--marromClaro);
  border: 3px solid var(--creme);
  padding: 20px;
  text-align: center;
  border-radius: 30px 12px;
  position: relative;

  transition: box-shadow 0.4s ease, transform 0.4s ease;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.719);
}

.card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.719);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  margin-bottom: 15px;
  border-radius: 6px;
}

.card h3 {
  margin-bottom: 10px;
  font-size: 28px;
  color: #fff;
}

.card p {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

.card .btn {
  background: var(--primaria);
  color: #fff;
  padding: 12px 24px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 700;
  border: none;
  font-size: 18px;
  transition: all 0.4s ease;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.card .btn:hover {
  background: var(--creme);
  color: var(--primaria);
  font-weight: 700;
}

/* CTA */
.cta {
  background: #d9aa71;
  background: linear-gradient(
    180deg,
    rgba(217, 170, 113, 1) 15%,
    rgba(140, 140, 140, 1) 85%
  );
  color: var(--primaria);
  text-align: center;
  padding: 60px 20px;
}

.cta h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.cta p {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 60px;
}

.cta .btn {
  background: var(--marromClaro);
  color: #fff;
  display: block;
  margin: 0 auto;
}

.cta .btn:hover {
  background: var(--creme);
  color: var(--primaria);
}

/* RODAPÉ */
footer {
  background: var(--secundaria);
  color: var(--primaria);
  font-weight: 600;
  padding: 40px 20px 20px;
}

.rodape {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 72px;
  margin-bottom: 20px;
  font-size: 18px;
}

.rodape h3 {
  color: var(--primaria);
  font-weight: 800;
  margin-bottom: 10px;
}

.rodape ul {
  list-style: none;
}

.rodape a {
  color: var(--primaria);
  font-weight: 600;
  text-decoration: none;
  list-style: none;
  transition: all 0.4s ease;
}

.rodape a:hover {
  color: var(--creme);
}

.rodape i {
  font-size: 38px;
  transition: all 0.4s ease;
}

.copy {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
  border-top: 1px solid #333;
}

.copy span {
  cursor: pointer;
  text-decoration: none;
  list-style: none;
}

.copy span:hover {
  color: var(--creme);
}