/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
  line-height: 1.6;
  color: #333;
}

.container {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 40px 20px;
}

/* HEADER */
.topo {
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 1;
  color: #fff;
  padding: 10px 0;
  transition: background 0.5s;
}

.topo.scrolled {
  background-image: none;
  background-color: #000;
}

/* Estilo do menu mobile */
.btn-menu-mobile {
    display: none;
    font-size: 1rem;
    cursor: pointer;
    color: #fff;
}

.btn-menu-mobile i {
    font-size: 2.8rem;
    color: #fff;
}

.menu-mobile {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    background-color: #000;
    text-align: right;
    padding: 32px 0;
    pointer-events: none;
    transition: 0.5s;
}

.menu-mobile ul {
    list-style: none;
    padding: 64px 0;
}

.menu-mobile ul li a {
    color: #fff;
    font-size: 1.4rem;
    text-decoration: none;
    padding: 24px;
    display: block;
    transition: 0.3s;
}

.menu-mobile ul li a:hover {
    text-decoration: none;
    color: #f39c12;
    font-weight: bold;
}

.menu-mobile .bi-x-lg {
    font-size: 2rem;
    color: #f80101;
    padding: 24px;
}

.menu-mobile.abrir-menu {
    left: 0;
    pointer-events: initial;
}

.no-scroll {
  overflow: hidden;
  height: 100vh; /* impede rolagem no mobile */
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 60px;
  margin-right: 10px;
  vertical-align: middle;
}

.menu {
  list-style: none;
  display: flex;
  gap: 40px;
  font-size: 18px;
  flex-wrap: wrap;
}

.menu li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.menu li a:hover {
  color: #f39c12;
}

/* HERO */
.hero {
  position: relative;
  background: url(/images/advogado-hero.jpg) center/cover no-repeat;
  height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: #fff;
  max-width: 1200px;
  margin-top: 100px;
}

.hero-text h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.hero-text button {
  width: 250px;
}

button {
  display: flex;
  flex-direction: column;
  background: #f39c12;
  color: #fff;
  padding: 12px 24px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  border: none;
  font-size: 18px;
}

button:hover {
  background: #d35400;
}

/* SOBRE */
.sobre {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.sobre h1 {
  font-size: 40px;
}
.sobre h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.sobre p {
  font-size: 20px;
}

/* ÁREAS */
.areas {
  background: #f9f9f9;
  padding: 60px 0;
}

.areas h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  background: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  border-radius: 6px;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  margin-bottom: 15px;
}

.card h3 {
  margin-bottom: 10px;
  font-size: 20px;
}

.card p {
  margin-bottom: 20px;
}

.card button {
  display: block;
  margin: 0 auto;
}

/* CTA */
.cta {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 60px 20px;
}

.cta h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.cta p {
  font-size: 20px;
  margin-bottom: 60px;
}

.cta button {
  display: block;
  margin: 0 auto;
}

/* RODAPÉ */
footer {
  background: #111;
  color: #ccc;
  padding: 40px 20px 20px;
}

.rodape {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 120px;
  margin-bottom: 20px;
}

.rodape h3 {
  color: #fff;
  margin-bottom: 10px;
}

.rodape ul {
  list-style: none;
}

.rodape a {
  color: #ccc;
  text-decoration: none;
  list-style: none;
}

.rodape a:hover {
  color: #f39c12;
}

.copy {
  text-align: center;
  padding: 10px;
  border-top: 1px solid #333;
}

.copy span {
  cursor: pointer;
  text-decoration: none;
  list-style: none;
}

.copy span:hover {
  color: #f39c12;
}